<div class="slogan">
    <p class="slogan-1">
        <span>
            <%= vars.bannerSlogan1a %>
        </span>
        <%= vars.bannerSlogan1b %>
    </p>
    <p class="slogan-2">
        <%= vars.bannerSlogan2 %>
    </p>
    <p class="slogan-3">
        <%= vars.bannerSlogan3 %>
    </p>
</div>