<div class="container">

    <div class="footer-about">
        <p class="footer-about-title">關於 佛羅伊</p>
        <p class="footer-about-context">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ipsam,
            debitis quas beatae voluptate laudantium.</p>
    </div>

    <div class="footer-contact">
        <p class="footer-contact-title">聯絡方式</p>
        <ul class="footer-contact-list">
            <li>地址：台北市文山區指南路二段到底</li>
            <li>電話：+886-886-886</li>
            <li>信箱：service@floyes.com</li>
        </ul>
    </div>

    <div class="footer-media clearfix">
        <p class="footer-media-title">佛羅伊餐酒館</p>
        <ul class="media-area">
            <li><a href="#"><i class="fab fa-google-plus-square google-font"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square twitter-font"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-square facebook-font"></i></a></li>
        </ul>
    </div>
</div>