<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="六角西餐廳，提供您最優質的餐點和服務，慶生聚會的最佳首選。">
<meta name="keywords" content="六角西餐廳, 六角, 西餐廳, 美式餐廳">

<!-- for Facebook info -->
<meta property="og:title" content="六角西餐廳">
<meta property="og:type" content="website">
<meta property="og:url" content="https://rwd-eva-yu.surge.sh/">
<meta property="og:description" content="六角西餐廳，提供您最優質的餐點和服務，慶生聚會的最佳首選。">
<meta property="og:image" content="./images/ms-icon-310x310.png">

<!-- IE 相容性 → 渲染時一定會呈現最新版本的 IE -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<!-- 網頁標籤設定 -->
<title>My Website</title>
<link rel="shortcut icon" href="/images/knife_and_fork.png" type="image/x-icon">

<!-- Font-Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<!-- RESET CSS + HEADER + BANNER + FOOTER -->
<link rel="stylesheet" href="/stylesheets/all.css">