$bg-color-1: #fff1e6;
$bg-color-2: #6b705c;
$bg-color-3: #eddcd2;
$bg-color-4: #f0efeb;
$bg-color-5: #f8edeb;

$deco-color-1: #cb997e;
$deco-color-2: #b7b7a4;
$deco-color-3: #283618;
$deco-color-4: #463f3a;
$deco-color-5: #3d11019e;
$deco-color-6: #F56C23;
$deco-color-7: #e07a5f;
$deco-color-8: #a11d33;

$alert-color: #9e2a2b;
$alert-color-2: #ba181b;

$font-color: #2f3e46;

$google-color: #DB4437;
$twitter-color: #41ABE1;
$facebook-color: #3A5795;